* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  min-width: 320px;
  margin: 0;
  background-color: $main-bg-color;
  font-family: $font-family;
  color: $text-color;
  height: 100vh;
  background-image: url(../img/pattern.jpg);
}
.active {
  background: green;
}
.container {
  // background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}