.filters {
  margin-top: 20px;

  &__items-block {
    display: flex;
    flex-direction: space-around;
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__item {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    background-color: #dcdee2;
  }
}
.design-2 {
  background-color: #f5f5f5;
}
.design-title-2 {
  text-align: center;
  font-size: 2rem;
  color: #838383;
  margin-bottom: 0.5rem;
}
.border-radius {
border-radius: 10px;
}
