.input-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
  background-color: #fff;
  flex: 2;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  &__title {

  }
  &__item {
    max-width: 100px;
  }
  &__label {

  }
}
