.input-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
  background-color: #fff;
  flex: 2;
  &__title {

  }
  &__item {
    max-width: 100px;
  }
  &__label {

  }
}
