.legend {
  &__item {
    position: relative;
    padding-left: 25px;
    display: none;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border: 1px solid transparent;
  }
  &__item-color {
    position: absolute;
    top: 0.625rem;
    left: 3px;
  }
  &__item-name {
    max-width: 150px;
    word-wrap: break-word;
    display: inline-block;
  }
}
