.result {
  flex: 5;
  min-width: 800px;
  max-height: 700px;
  background-color: #fff;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;

  &__output {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: 570px;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    // overflow: scroll;
    word-wrap: break-word;
  }

  &__output-title {
    position: absolute;
    top: 20px;
    left: 50px;
    min-height: 50px;
    word-break: break-all;
    font-size: 2rem;
  }

  &__output-chart {
    flex: 3;
    margin-right: 1.825rem;
  }

  &__legend {
    flex: 2;
    height: 430px;
    word-wrap: break-word;
  }

  &__chart-legend-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__download-button {
    opacity: 1;
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2185d0;
    padding: 10px 20px 10px 20px;
    transition: opacity 0.1s linear;
    color: #fff;
    font-size: 17px;
  }

  &__download-button:hover {
    opacity: 0.7;
  }
}