.result {
  background-color: #fff;
  flex: 5;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  &__output {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 570px;
    word-wrap: break-word;
  }

  &__output-title {
    min-height: 50px;
    font-size: 2rem;
    word-break: break-all;
  }
  &__output-chart {
    flex: 3;
    margin-right: 1.825rem;
  }
  &__legend {
    flex:2;
    word-wrap: break-word;
  }
  &__chart-legend-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
